
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
}

.artboard {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.artboard .texto span {
  text-transform: none;
}

hr {
  height: 300px;
  background-color: blue;
}
