main {
}

#interface {
  font-size: 1.8rem;
  padding: 1rem;
  width: 300px;
  flex-grow: 1;
}

#interface button {
  font-size: 2rem;
}

#interface .radios {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#interface .radios label {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 5rem;
}

#interface .radios label input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

#p5js-container {
  position: relative;
  /* width: 1080px;
  height: 1920px; */

  width: 1280px;
  height: 720px;
}