/* Fontes
--------------------------------------*/

@font-face {
  font-family: "TASA-Orbiter";
  src:
    url("../fonts/TASAOrbiterVF.woff2") format("woff2");
}


/* Variaveis
--------------------------------------*/

:root {
  --cor-preto: #000000;
  --cor-roxo: #4e57fa;
  --cor-vermelho: #fd5554;
  --cor-verde-claro: #52fe54;
  --cor-amarelo: #fbfc01;
  --cor-azul: #57fdfd;
  --base-font-family: 'TASA-Orbiter', sans-serif;
  --base-font-size: 1.4rem;
  --base-color-lineheight: calc(var(--base-font-size) * 1.4);
}

@media screen and (min-width: 25rem) {
  :root {
    --base-font-size: 2rem;
    --base-color-lineheight: calc(var(--base-font-size) * 1.35);
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --base-font-size: 2.4rem;
    --base-color-lineheight: calc(var(--base-font-size) * 1.31);
  }
}

/* Geral
--------------------------------------*/

body {
  font-family: var(--base-font-family);
}

#interface {
  font-size: 1.8rem;
  padding: 1rem;
}

#interface button {
  font-size: 2rem;
}

#interface .radios {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#interface .radios label {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 5rem;
}

#interface .radios label input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
